/* Ensure the hamburger is still fixed at the top-left */
.hamburger {
  font-size: 30px;
  border: none;
  color: #000; /* High contrast for visibility */
  top: 0;
  left: 0;
  padding: 15px;
  z-index: 1001; /* Ensures it stays on top of content but below the side menu */
  cursor: pointer;
  background-color: #507d2a;
}

.hamburger:focus {
  outline: 3px solid #FFD700; /* Accessibility focus */
}

/* The side menu (nav) */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden off-screen */
  width: 250px;
  height: 100%; /* Full height to cover the screen */
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease; /* Slide effect */
  z-index: 1000; /* Overlay above the document */
}

nav.side-menu {
  display: flex;
  flex-direction: column;
}

nav.side-menu > ul {
  display: flex;
  flex-direction: column;
}

nav.side-menu > ul:first-of-type {
  padding-top: 60px;
}

nav.side-menu > ul:last-child {
  margin-top: auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
}

.side-menu.open {
  left: 0; /* Slide in */
}

/* The close button inside the menu */
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.side-menu ul {
  list-style: none;
}

.side-menu li a,
.side-menu li button {
  padding-left: 0;
  color: #507d2a;
  text-decoration: none;
  display: inline-block;
  font-size: x-large;
}

.side-menu li button {
  background-color: inherit;
  border: none;
  cursor: context-menu;
}

/* Submenu Styling */
.sub-menu {
  list-style: none;
  padding-left: 1em;
}

/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent dark background */
  z-index: 999; /* Behind the menu but above other content */
  display: none;
}

/* When the menu is open, show the overlay */
.overlay.open {
  display: block;
}

.sub-menu-open {
  transition: top 0.3s ease; /* Slide effect */
}

.sub-menu-closed {
  transition: bottom 0.3s ease; /* Slide effect */
  display: none;
}


