form.login-form {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  fieldset {
    padding: 2vh 4vh 2vh 4vh;

    ul {
      width: 100%;
      font-size: larger;
    }
  }
}
