{{ define "CarrierForm" }}
<form role="form" method="/carriers" action="POST" accept-charset="utf8">
    <fieldset>
        <div role="group">
            <label for="name">Name</label>
            <div role="group">
                <input type="text"
                    name="name"
                    id="name"
                    required
                    aria-invalid="{{ if .Errors.name }}true{{end}}"
                    aria-errormessage="name-error">
                <span hidden="{{ if .Errors.name}}false{{end}}" id="name-error">{{ if .Errors.name }}{{ .Errors.name}}{{end}}</span>
            </div>
        </div>
        <div role="group">

        </div>
    </fieldset>
</form>
{{ end }}