<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        <meta name="description" content="Web Application to normalize the freight logistics industry">
        <meta name="keywords" content="tms transportation management system freightcms logistics software go golang">
        <meta name="author" content="FreightCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ template "styles" }}
    </head>
    <body>
        {{ template "navigation" .}}
        <hr />
        {{ template "content" . }}
    </body>
</html>