{{ define "content" }}
<form method="post" role="form" action="/login">
    <fieldset>
        <div role="group">
            <label for="email">Email</label>
            <div role="group">
                <input type="email" id="email" name="email" value="{{ .Email }}" required />
                <span class="error">{{ if .Errors.Email }}{{ .Errors.Email }}{{ end }}</span>
            </div>
        </div>
        </div>
        <div role="group">
            <label for="password">Password</label>
            <div role="group">
                <input type="password" id="password" name="password" value="{{ .Password }}" minlength="8" maxlength="128" required>
                <span class="error">{{ if .Errors.Password }}{{ .Errors.Password }}{{ end }}</span>
            </div>
        </div>
        <div role="group">
            <button role="button" type="submit">Login</button>
        </div>
    </fieldset>
</form>
{{ end}}