/* begin form css */
form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  legend {
    font-size: larger;
    font-weight: bold;
  }

  div:last-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: end;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      flex-direction: row;
      gap: 8px;

      label {
        min-width: 80px;
      }
    }

    li:not(:first-child) {
      margin-top: 8px;
    }
  }

  fieldset {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    border-radius: 8px;
  }

  label {
    font-size: 14px;
    text-align: right;
  }

  input {
    border: 1px solid black;
    border-radius: 4px;
    font-size: large;
  }

  button, input[type="submit"], input[type="button"] {
    border: none;
    font-size: large;
    padding: 4px 8px 4px 8px;
  }
}
