@import "./header.css";
@import "./footer.css";
@import "./forms.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



header, footer {
  width: 100%;
  background-color: #333;
}

center {
  text-align: center;
  margin: auto;
}

inline {
  display: inline-flex;
}

main {
  left: 0;
  top: 67px;
  width: 100%;
  height: calc(80% - 67px);
  overflow-y: scroll;
  position: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  ul {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    list-style: none;

    li {
      padding-top: 8px;

      a, button {
        font-size: large;
        padding-left: 0;
        color: #507d2a;
        text-decoration: none;
        display: inline-block;
      }
    }
  }
}

li {
  ul {
    padding-left: 8px;
  }
}
